@page
@model WebApplication2.Pages.Genres.CreateModel

@{
    ViewData["Title"] = "Создание Жарна";
}

<h1>Создание</h1>

<h4>Жанра</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Genre.GenName" class="control-label"></label>
                <input asp-for="Genre.GenName" class="form-control" />
                <span asp-validation-for="Genre.GenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre.GenDescription" class="control-label"></label>
                <input asp-for="Genre.GenDescription" class="form-control" />
                <span asp-validation-for="Genre.GenDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернутся к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
